.book1{
    // background:#e1e9fc ;
    margin-left:30px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: left;
    box-shadow: rgba(0, 0, 0,0.24) 0px 3px 8px;
    i{
      color: purple;
      font-size: 20px;
    }

    p:nth-child(){
        font-weight: 500px;
        margin-bottom: 8px;
    }
   
    p:nth-child(){
        margin-bottom: 0;
    }
}

.info{
  height: 40px;
  background-color:dimgray;
  border: none;
 }
 .btn-primary:hover ,.btn-primary:active{
  text-decoration-line: underline;
  background-color:dimgray;
 }
 .Title{
  background-color: rgb(40, 58, 90);
  color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 15px 15px 1px 15px;
 }
 .detail{
  padding: 0px 0px 15px 15px;
 }
 .author {
  padding-top: 10px;
  padding-left: 15px;
 }
 .status{
  padding-left: 15px;
 }