.books {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
// .main4 {
//   height: 100vh;
// }
.custom-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
}

.book {
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-align: left;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 20px;
  border-radius: 5px;

  p:nth-child(odd) {
    font-weight: 400px;
    font-size: 15px;
    margin-bottom: 8px;
  }
  p:nth-child(even) {
    font-weight: 400px;
    font-size: 15px;
    margin-bottom: 8px;
  }

  p:nth-child(odd) {
    margin-bottom: 0;
  }
  p:nth-child(even) {
    margin-bottom: 0;
  }
}
.returned{
  margin-top: 5px;
}