.about{
    color: black;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
    text-align: justify;
}
.box1{
   // background-color:aliceblue;
   box-shadow: rgba(0,0,0,0.24)0px 3px 8px;
    margin-left:30%;
    margin-right:30%;
    margin-top:0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.aboutus{
    text-align: center;
    color: black;
    font-family: Arial;
    margin-top: 15px;
margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}